<form action="/cart" , method="post">
  <input hidden name="_csrf" value="<%= csrfToken %>" />
  <button type="submit">Add to Cart</button>
  <input hidden type="text" name="productId" value="<%= product._id %>" />
</form>
