.main-form {
  width: 230px;
  display: block;
  margin: 20px auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.form-control label {
  font-weight: bold;
}
.form-control input {
  padding: 5px;
  border: 1px solid var(--bg-primary);
  border-radius: 2px;
}

.form-control input.invalid {
  border-color: #ff0000;
}

button {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  color: var(--secondary);
  border-radius: 3px;
  padding: 5px 10px;
}

button:hover,
button:active {
  background-color: transparent;
  color: var(--bg-primary);
}
